* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* =======================================================================
                         All Common CSS End
======================================================================= */

/* .main {} */
#box__one,
#box__two,
#box__three,
#box__four,
.box__five {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wanna__play__game,
#player__one,
#player__two,
#player__two__heading__number,
.game__over {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

#player__one__name,
#player__one__number,
#player__two__name,
#player__two__number {
  width: 868px;
  height: 132px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 79px;
  color: #d9d9d9;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  padding: 0 60px;
  margin: 36px 0;
  transition: all linear 0.2s;
}
#player__one__name::placeholder,
#player__one__number::placeholder,
#player__two__name::placeholder,
#player__two__number::placeholder {
  color: #d9d9d9;
  /* text-align: center; */
}
#player__one__name:focus-visible,
#player__one__number:focus-visible,
#player__two__name:focus-visible,
#player__two__number:focus-visible {
  border: 1px solid transparent;
  outline: 1px solid #7041d3;
  transition: all linear 0.2s;
}
#start__game,
#box__two__lets__play,
#box__three__name__btn,
#box__four__number__btn,
#reset__btn {
  width: 362px;
  height: 78px;
  color: #ffffff;
  background: #7041d3;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  border-radius: 53px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all linear 0.2s;
}
#start__game:hover,
#box__two__lets__play:hover,
#box__three__name__btn:hover,
#box__four__number__btn:hover,
#reset__btn:hover {
  border: 2px solid #7041d3;
  background: transparent;
  color: #7041d3;
}
#give__name__error,
#give__number__error,
#player__two__name__error,
#player__two__number__error {
  width: 778px;
  color: #ffffff;
  background: #cc3030;
  padding: 9px 0;
  text-align: center;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  font-size: 48px;
  margin-top: 51px;
  visibility: hidden;
}
.chance {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;
  /* visibility: hidden; */
}
#result{
  margin-bottom: 50px;
}
